<!-- components/navbar.html -->
<!-- Header Start -->
<div class="header fixed-top">
    <div class="container custom-container">
        <div class="header-wrapper">

            <!-- Logo -->
            <div class="logo-box">
                <div class="logo">
                    <a href="index.html">
                        <img id="main-logo" src="" alt="Logo">
                    </a>
                </div>
            </div>

            <!-- Mobile Menu Toggler -->
            <div class="header-menu-toggler">
                <a href="javascript:;" class="menu-toggler"><i class="las la-bars"></i></a>
            </div>

        </div>
    </div>
</div>
<!-- Header End -->

<!-- Offcanvas Menu -->
<div class="offcanvas-menu">
    <div class="offcanvas-wrapper">
        <div class="close-btn">
            <a href="javascript:;" class="menu-close"><i class="ion-ios-close-outline"></i></a>
        </div>

        <div class="logo">
            <a href="index.html">
                <img id="mobile-logo" src="" alt="Logo">
            </a>
        </div>

        <div class="primary-menu">
            <!-- Menu will be injected here -->
            <ul id="nav-menu">
                <!-- JS will fill this -->
            </ul>
        </div>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Overlay -->
<div class="overlay"></div>